@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
.container-content {
  align-items: center;
  text-align: center;
  background-color: #D6D6CE;
  color: #800000;
  font-family: "EB Garamond", serif;
}

